<p id="notice"><%= notice %></p>

<h1>Photos</h1>

<table>
  <thead>
    <tr>
      <th>Photo ID</th>
      <th>Roll ID</th>
      <th>Shutter</th>
      <th>Aperture</th>
      <th>Iso</th>
      <th>Notes</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @photos.each do |photo| %>
      <tr>
        <td><%= photo.id %></td>
        <td><%= photo.roll_id %></td>
        <td><%= photo.shutter %></td>
        <td><%= photo.aperture %></td>
        <td><%= photo.iso %></td>
        <td><%= photo.notes %></td>
        <td><%= link_to 'Show', photo %></td>
        <td><%= link_to 'Edit', edit_photo_path(photo) %></td>
        <td><%= link_to 'Destroy', photo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Photo', new_photo_path %>
<%= link_to 'Back', rolls_path %>
