<p id="notice"><%= notice %></p>

<h1>Rolls</h1>

<table style= "width:70%">
  <thead>
    <tr>
      <th style="width:5%">Roll ID</th>
      <th style="width:10%">Start</th>
      <th style="width:10%">End</th>
      <th>Stock</th>
      <th>Format</th>
      <th>Iso</th>
      <th>Push</th>
      <th style="width:6%">Current</th>
      <th style="width:6%">Dev</th>
      <th style="width:6%">Scan</th>
      <th style="width:20%">Notes</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @rolls.each do |roll| %>
      <tr>
        <td><%= roll.id %></td>
        <td><%= roll.start %></td>
        <td><%= roll.end %></td>
        <td><%= roll.stock %></td>
        <td><%= roll.format %></td>
        <td><%= roll.iso %></td>
        <td><%= roll.push %></td>
        <% if roll.current %>
          <td style="background-color:green"></td>
        <% else %>
          <td style="background-color:red"></td>
        <% end %>
        <% if roll.dev %>
          <td style="background-color:green"></td>
        <% else %>
          <td style="background-color:red"></td>
        <% end %>
        <% if roll.scan %>
          <td style="background-color:green"></td>
        <% else %>
          <td style="background-color:red"></td>
        <% end %>
        <td><%= roll.notes %></td>
        <td><%= link_to 'Show', roll %></td>
        <td><%= link_to 'Edit', edit_roll_path(roll) %></td>
        <td><%= link_to 'Destroy', roll, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Roll', new_roll_path, class:"submit-button" %>
<br>
<%= link_to 'New Photo', new_photo_path, class:"submit-button" %>
